@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: #0c0f12;
  color: #d5dde4;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
}
